<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Macros Ez</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="container mx-auto bg-fuchsia-300" id="body">
    <form
      class="grid grid-cols-6 gap-2 grid-row-3 p-2"
      hx-post="/submit"
      hx-target="#body"
    >
      <label for="protein" class="col-span-2">Protein</label>
      <label for="carbs" class="col-span-2">Carbs</label>
      <label for="fat" class="col-span-2">Fat</label>
      <input
        id="protein"
        name="protein"
        type="number"
        onfocus="this.value=''"
        value="{{ .ProteinValue }}"
      />
      <button type="submit">Add</button>
      <input
        id="carbs"
        name="carbs"
        type="number"
        onfocus="this.value=''"
        value="{{ .CarbsValue }}"
      />
      <button type="submit">Add</button>
      <input
        id="fat"
        name="fat"
        type="number"
        onfocus="this.value=''"
        value="{{ .FatValue }}"
      />
      <button type="submit">Add</button>
    </form>
    <div class="p-3">
      <h1>Total Protein: {{ .Protein }}</h1>
      <h1>Total Carbs: {{ .Carbs }}</h1>
      <h1>Total Fat: {{ .Fat }}</h1>
      <h1>Total Calories: {{ .Calories }}</h1>
    </div>

    <h1>Logs</h1>
    {{ range .Logs }}
      <div class="p-3">
        <h1>Protein: {{ .Protein }}</h1>
        <h1>Carbs: {{ .Carbs }}</h1>
        <h1>Fat: {{ .Fat }}</h1>
      </div>
    {{ end }}
  </body>
</html>
