<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Macros Ez</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
      .work-sans {
        font-family: 'Work Sans', sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }
    </style>
  </head>
  <body class="container mx-auto bg-teal-700 work-sans text-white" id="body">
    <h1 class="p-3 font-bold">MACROS</h1>
    <div class="m-2 p-4 bg-slate-500 rounded-lg shadow-lg">
      <div class="grid grid-cols-3 gap-2 p-2">
        <h2>Total {{ .Protein }}g</h2>
        <h2>Total {{ .Carbs }}g</h2>
        <h2>Total {{ .Fat }}g</h2>
        <h2>Total Calories {{ .Calories }}cal</h2>
      </div>

      {{ template "form" . }}

      <div class="grid grid-cols-6 gap-2 p-2">
        {{ if .Logs }}
        <div class="grid grid-cols-subgrid col-span-3 gap-2">
          <h2 class="col-span-3 font-bold">Logs</h2>
          {{ range .Logs }}
            <h2>Protein {{ .Protein }}g</h2>
            <h2>Carbs {{ .Carbs }}g</h2>
            <h2>Fat {{ .Fat }}g</h2>
          {{ end }}
        </div>
        {{ end }}
        <div class="grid grid-cols-subgrid col-span-3 gap-2">
          <h2 class="col-span-3 font-bold">Food Items</h2>
          <h2>Protein 0g</h2>
          <h2>Carbs 0g</h2>
          <h2>Fat 0g</h2>
        </div>
      </body>
      </div>
    </body>
  </div>
</html>
